<h2>List of Users</h2>
<table>
	<tr>
		<th>username</th>
		<th>email</th>
		<th>role</th>
	</tr>
<?php

	foreach($users as $i):
		echo "<tr>";
		echo "<td>" . $i['User']['username']. "</td>";
		echo "<td>" . $i['User']['email']. "</td>";
		echo "<td>" . $i['User']['role']. "</td>";
		echo "</tr>";
	endforeach;
?>
</table>